@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to top, #002B44, #0272b3);
    }

    section#login{
        width: 90vw;
        height: 300px;
    }
    section#login > div#imagen{
        float: right;
        width: 30%;
        height: 100%;
    }
    section#login > div#form{
        float: left;
        width: 70%;
        height: 100%;
    }
    div#form > h1{
        font-size: 1.8em;
    }

    div#form > p {
        font-size: 1em;
    }

    
    
}

@media screen and (min-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, #002B44, #0272b3);
    }


    section#login {
        width: 950px;
        height: 500px;
    }

    section#login > div#imagen{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#form{
        float: right;
        width: 50%;
    }

    div#form > h1{
        font-size: 2.3em;
    }

    div#form > p {
        font-size: 1.5em;
    }
    
}